@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

:root{
    --fuente-texto: "Lato", sans-serif;
}

/* Estilos para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DDEB9D; /* Color de fondo */
    width: 100%; /* Ocupa todo el ancho */
    padding: 10px 5%;
    position: fixed; /* Fija en la parte superior */
    top: 0; /* Pegado al borde superior */
    left: 0; /* Pegado al borde izquierdo */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    margin: 0; /* Elimina márgenes por defecto */
    box-shadow: 0 2px 5px #A0C878; /* Sombra opcional para mejor visualización */
}

/* Estilos para el logo */
.logoQYM {
    width: auto;
    height: auto;
    transform: scale(1);
    position: relative;  /* Permite ajustar la posición */
    left: 225px;         
    top: 2px;          /* Mueve el logo hacia arriba 7px */
}

/* Estilos para el menú */
.header__menu {
    display: flex;
    gap: 40px;
    position: relative;  /* Permite ajustar la posición */
    left: -515px;
}

.header__menu__link {
    font-family: var(--fuente-texto);
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    color: #3F7D58; /* Color naranja de tu marca */
    text-decoration: none;
}

.header__menu__link.active {
    color: #143D60; /* Color azul de tu marca */
    border-bottom: 2px solid #143D60; /* Línea azul en la parte inferior */
}

body {
    padding-top: 175px; /* Mismo valor que la altura del header */

}

/* Contenedor principal */
.contenedor-principal {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    position: relative;
    overflow: hidden; /* Asegura que el contenido que se desplace no cause scroll */
}

/* Con esto: */
.contenedor-imagen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Puedes usar 'center' para alinear todas al centro */
    margin-left: auto;
    position: relative; /* Permite ajustar la posición */
    bottom: 85px; /* Mueve la imagen hacia abajo 75px */
    padding-top: 0px; /* Espacio consistente desde arriba */
}

.fotoindex, .fotoempresa, .fotoservicios, .fotoequipo, .fotocontacto {
    transform: scale(0.7); /* Escala la imagen al 60% */
    width: auto;
    border: 10px solid #143D60; /* Color azul de tu marca */
    border-radius: 8px;
    box-shadow: 
        0 4px 12px rgba(0, 0, 0, 0.1), /* Sombra exterior */
        inset 0 0 0 2px #EB5B00; /* Borde interior naranja */
    padding: 2px;
    background: white;
    transition: all 0.3s ease; /* Suaviza los efectos al pasar el mouse */
}

/* Contenedor del contenido */
.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; /* Necesario para la animación */
}

.resaltar {
    color: #EB5B00;
    font-weight: bold;
}

.contenido-index {
    font-family: var(--fuente-texto);
    font-weight: 400;
    font-style: normal;
}

.texto-index {
    line-height: 1.75;
    margin-top: 70px;
}

.pagina-index .contenido p {
    font-family: var(--fuente-texto);
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.75;
}

/* Estilos específicos para index.html */
.pagina-index .contenido h1 {
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-style: normal;
    font-size: 1.75rem;
    color: #143D60;
    margin-bottom: 0px;
    margin-top: 0px;
}


/* Estilos específicos para empresa.html */
.pagina-empresa .contenido h1{
    font-size: 1.75rem !important;
    margin-top: 0px;
    color: #143D60;
    margin-bottom: 0px;
    font-family: var(--fuente-texto);
    font-weight: 600;
}

.pagina-empresa .contenido h2 {
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-size: 1.5rem;
    color: #143D60;
    margin-bottom: -10px;
}

.pagina-empresa .contenido .vym {
    margin-top: 20px;
    font-size: 1.2rem;
}

.pagina-empresa .contenido p {
    font-family: var(--fuente-texto);
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.75;
}

/* Estilos específicos para servicios.html */
.pagina-servicios .contenido h1 {
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-size: 1.75rem;
    color: #143D60;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pagina-servicios .contenido p,
.pagina-servicios .contenido ul {
    font-family: var(--fuente-texto);
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.75;
}

.pagina-servicios .contenido ul {
    padding-left: 20px;
    list-style-type: disc;
}

.pagina-servicios .contenido ul li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
    font-family: var(--fuente-texto);
}

.pagina-equipo .contenido h1 {
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-size: 1.75rem;
    color: #143D60;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pagina-equipo .contenido h2 {
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-size: 1.5rem;
    color: #143D60;

}

.pagina-equipo .contenido h3 {
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-size: 1.5rem;
    color: #143D60;
    margin-bottom: -10px;
}

/* En tu CSS */
.lista-clientes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 15px; /* Espacio entre elementos */
    padding: 20px;
}

.cliente {
    padding: 10px;
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-size: 1rem;
    color: #333;
    border-left: 3px solid #EB5B00; /* Acuerdo naranja */
    padding-left: 15px; /* Espacio entre el borde y el texto */
}

.cliente:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,25,101, 0.1);
    background-color: #fff;
}


.pagina-equipo .contenido p {
    font-family: var(--fuente-texto);
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.75;
}

.pagina-contacto .contenido h1 {
    font-family: var(--fuente-texto);
    font-weight: 600;
    font-size: 1.75rem;
    color: #143D60;
    margin-bottom: 0px;
    margin-top: 0px;
}

.pagina-contacto .contenido p {
    font-family: var(--fuente-texto);
    font-weight: 400;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.75;
}

/* Animación para mover el contenido */
@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Clase para aplicar la animación */
.slide-out {
    animation: slideOut 0.5s forwards;
}

.slide-in {
    animation: slideIn 0.5s forwards;
}